  @font-face {
   font-family: 'Courier Prime';
   font-style: normal;
   src: local('Courier Prime'), url(/static/font/courier_prime.woff) format('woff');
  }
  @font-face {
   font-family: 'Erica One';
   font-style: normal;
   src: local('Erica One'), url(/static/font/erica_one.woff) format('woff');
  }


   body {
     margin: 0;
     padding: 0;
     background-color: #880033;
background-image: url('/static/images/nicetilenoir.png');
    background-repeat:repeat;
/*     background-color: #FFEE00; */
    font-family: Courier New;
   }
/*   body.tag, body.list {
       background-image:url('/static/images/bluebg-d2.png');

   }*/
   div {
     margin: 0px;
   }

   a.h1, a.h2 {
    font-family: Courier New;
    font-size: 50px;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding: 0px;
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: rgba(104, 113, 182, 0.7);
    background-repeat:repeat;
    text-decoration: none;
   }
   a.h1:hover {
    color: #330022;
    
   }
   
   a.h2 {
color: rgba(82, 25, 10, 1);
background-image: url('/static/images/littlered1.png');
    }

#upper-container {
background-image: url('/static/images/nicetilerouge.png');
    background-repeat:repeat;

}

/*body.tag #upper-container, body.list #upper-container {
       background-image:url('/static/images/greenbg.png');
}*/




   #book-title {
     width: 850px;
     margin: 0 auto;
     background-color: transparent;
/*     box-shadow: 0px 7px 0px rgba(0,0,0,0.2); */
/*     border-bottom: 8px solid rgba(255,215,205,0.2); */
     padding: 40px;
     padding-top: 35px;
     padding-left: 40px;
     margin-top: 20px;
   }
   

  div#description p {
    font-family: Courier New;

   margin: 0px;
   padding: 0px;
   padding-top: 2px;
   padding-bottom: 0px;
   margin-bottom: 5px;
   margin-top: 0px;
   
   border-bottom: 1px solid rgba(255,255,255,0.1);
   border-top: 1px solid black;
   
   font-size: 17px;
   line-height: 23px;
   display: inline;
   color: black;
background-color: rgba(219, 219, 219, 0.71);

  }
  div#description {
  margin-bottom: 0px;
  }

  div#tags {
     margin-bottom: 30px;

  }

  div#tags a {
padding: 10px;
padding-bottom: 9px;
color: rgba(167, 142, 152, 0.8);
display: inline-block;
text-decoration: none;
background: rgba(41, 0, 0, 0.86);
  }
  div#tags a:hover {
color: rgba(167, 142, 152, 1);
background: rgba(41, 0, 0, 1);
  }
  
  


  #book-details {
     width: 850px;
     margin: 0 auto;
     background-color: transparent;
/*     box-shadow: 0px 7px 0px rgba(0,0,0,0.2); */
     padding: 40px;
     padding-top: 25px;
     padding-top: 25px;
     font-size: 12pt;
     color: #530018;
     line-height: 14pt;
  }
  #book-details.author {
  padding-top: 0px;
  }

   #lower-container {
     width: 100%;
   }
   #lower-container.filled {
    height: auto;
   }
   
   #top-container {
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    font-size: 17px;
    color: black;
    text-align: center;
   }

   #top-content {
     width: 850px;
     margin: 0 auto;
    height: 20px;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
   color: black;
   }

   #nav {
    width: 850px;
        font-family: Futura, Helvetica, Sans Serif;
        font-weight: bold;
    margin: 0 auto;
     color: rgba(163, 161, 189, 0.87);
     text-align: left;
     padding-top: 16px;
   }
   #nav a {
     color: rgba(163, 161, 189, 0.87);
     text-decoration: none;
   }
   #nav a:hover {
     color: rgba(163, 161, 189, 1);
     border-bottom: thin rgba(163, 161, 189, 0.87) solid;
   }

   #book-content {
     width: 850px;
     margin: 0 auto;
     padding: 40px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-family: Courier New;
     padding-bottom: 15px;
     color: black;
   }

   #book-content p, #book-content span, #book-content div {
    font-family: Georgia, serif;
    font-size: 13.5pt;
    line-height: 20pt;
    color: black;
    text-align: justify;
    margin-top: 20pt;

        padding-left: 25px;
        padding-right: 25px;
   }

   #text-list {
     width: 850px;
     margin: 0 auto;
     padding: 40px;
     padding-bottom: 10px;
     font-family: Courier New;
     font-size: 12pt;
     line-height: 14pt;
     padding-bottom: 15px;
     color: black;
     min-height: 300px;
   }

   #text-list div.text {
        padding-left: 3px;
        padding-right: 5px;
        display: block;

     padding-top: 15px;
     padding-bottom: 4px;
     border-top: thin grey dashed;
        font-size: 16pt;

   }
   
   #text-list div.text.no-texts {
    padding-bottom: 15px;
   }
   
   #text-list div.text:last-child {
     border-bottom: thin grey dashed;

   }
   #text-list a.title {
        text-decoration: none;
        font-family: Futura, Helvetica, Sans Serif;
        font-weight: bold;
        font-size: 16pt;
        color: black;
        line-height: 19pt;
        text-align: left;
        padding-right: 10px;
   }

   #text-list .author {
        text-decoration: none;
        font-family: Futura, Helvetica, Sans Serif;
        color: purple;
    }

   #text-list .author a {

        text-decoration: none;
        font-size: 16pt;
        color: purple;
    }
    #text-list .author a:hover {
        color: black;
    }

    div.text-tags {
     margin-bottom: 5px;
     padding: 0px;
     margin-top: 5px;
     text-align: right;
  }

  #text-list div.text-tags a.tag {
padding: 5px;
padding-top: 6px;
padding-bottom: 6px;
color: rgba(173, 115, 139, 0.8);
display: inline-block;
text-decoration: none;
background: rgba(217, 202, 230, 0.86);
}
  #text-list div.text-tags a.tag:last-child {
    border-right: none;
    padding-right: 0px;
  }
  div.text-tags a:hover {
    color: black;
  }

   .text-date {
   display: inline-block;
     padding-right: 20px;
     margin-right: 5px;
     line-height: 180%;

     border-right: 3px black solid;
   }


  #lower-container.filled {
    background-image:url('/static/images/nicetilenoir.png');
  }


#lower-container.filled #book-content {
    background-image: none;
background-color: rgba(227, 229, 216, 0.95);
    height: auto;
}

#lower-container.filled #text-list {
    background-image: none;
background-color: rgba(227, 229, 216, 0.95);
height: auto;
    padding-top: 20px;
}

/*body.tag #lower-container.filled {
background-image:url('/static/images/bluebg-d2.png');
}*/

   #lower-toe, #lower-toptoe {
     width: 100%;
    color: black;
    text-align: middle;
   }

    #lower-toe-center {
    display: none;
    }

   #lower-toe-center.filled {
   display: block;
     width: 850px;
     margin: 0 auto;
    height: 20px;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
   color: black;
background-color: rgba(227, 229, 216, 0.95);
margin-bottom: 40px;
   }
   
   #lower-toptoe {
     display: none;
   }
   #lower-toptoe.filled {
   display: block;
background-image: url('/static/images/nicetilerouge.png');
    background-repeat:repeat;
   }
/*   body.tag #lower-toptoe.filled {
       background-image:url('/static/images/greenbg.png');
   }*/
   
   #lower-toptoe.filled.transparent {
   background-image: none !important;
   }
   
   #lower-toptoe-center {
     width: 850px;
     margin: 0 auto;
    height: 20px;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
   color: black;
background-color: rgba(227, 229, 216, 0.95);
text-align: center;
   }

    #buttons {
     position: relative;
     top: 48px;
     text-align: center;
    }

    #site-title {
        font-family: Futura, Helvetica, Sans Serif;
        font-weight: bold;
      position: relative;
     padding: 13px;
     padding-top: 6px;
     padding-bottom: 6px;
     color:rgba(183, 181, 199, 0.8);
     background-color: rgba(240,230,240,1);
     display: inline-block;
     text-decoration: none;
      cursor: hand;
      font-size:17px;
background-color: rgba(14, 25, 37, 0.7);
border: 1px solid rgba(143, 0, 255, 0.14);
    }
    #site-title:hover {
         color: rgba(116, 136, 188, 1);

background-color: black;
border: 1px solid black;

    }

   .button {
     padding: 8px;
     padding-bottom: 10px;
     color: rgba(0,0,0,0.7);
     font-weight: bold;
     background-color: rgba(180,190,170,0.8);
     text-shadow: 1px 1px 0px rgba(255,255,255,0.05);
     border: 2px solid rgba(255,255,255,0.1)
     display: inline-block;
     text-decoration: none;
background-image: url('/static/images/littlered1.png');
    background-repeat:repeat;
     cursor: pointer;
     cursor: hand;
   }
   
   .button:hover {
    color: black;
   }


    #lower-heading {
background-image: url('/static/images/littlered1.png');

    }
   
   #lower-heading {
     padding: 8px;
     padding-bottom: 10px;
     color: rgba(0,0,0,0.7);
     font-weight: bold;
     background-color: rgba(180,190,170,0.8);
     text-shadow: 1px 1px 0px rgba(255,255,255,0.05);
     border: 2px solid rgba(255,255,255,0.1)
     display: inline-block;
     text-decoration: none;
background-image: url('/static/images/littlered1.png');
background-repeat:repeat;
     cursor: pointer;
   }
   
   
   .heading {
        font-family: Futura, Helvetica, Sans Serif;
     padding: 14px;
     padding-top: 11px;
     color: rgba(0,0,0,0.7);
     font-weight: bold;
     background-color: rgba(180,190,170,0.8);
     text-shadow: 1px 1px 0px rgba(255,255,255,0.05);
     border: 2px solid rgba(255,255,255,0.1)
     display: inline-block;
     text-decoration: none;
background-image: url('/static/images/littlered1.png');
background-repeat:repeat;
     position: relative;
     top: -8px;
   }
   
  a.big-tag, #text-list a.big-tag {
    font-family: Courier New;
    font-size: 50px;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding: 0px;
    margin: 0px;
    padding: 0px;
    color: rgba(0,0,0,0.6);
background-image: url('/static/images/littlered1.png');
background-repeat:repeat;
    text-decoration: none;
    display: block;
    clear: both;
    float: left;
    line-height: normal;
  }
  a.big-tag:hover {
    color: black;
  }
   
   