{% extends "librairie/base.html" %}

{% block media %}
    <script src="/static/js/jquery-1.10.2.js"></script> 
    <script> 
    $(function(){
      $(".button#lire").click(function(){
        $("#book-content").slideToggle("slow", function(){
            $("#book-content").load("{{MEDIA_URL}}{{texte.html}}");
            $("#book-content").addClass("filled");
            $("#lower-toptoe").addClass("filled");
            $("#lower-toe-center").addClass("filled");
            $("#lower-container").addClass("filled");
        });
        $("#book-content").slideToggle("fast");
      });
    });
    </script> 
{% endblock %}


{% block title %}La cantonade - {{texte.titre}}, {{texte.auteur}}{% endblock %}

        {% block page_title %}
            <a class="h1" href="#">{{texte.titre}} </a><a class="h2" href="/auteur/{{texte.auteur.slug}}">{{texte.auteur.prenom}} {{texte.auteur.nom}}&nbsp;</a>
        {% endblock %}

    
    

        {% block page_details %}
          <div id="book-details">
                <div id="tags">
                {% for tag in texte.tags.all %}
                <a href="/tag/{{tag.slug}}" class="tag">{{tag.tag}}</a> 
                {% endfor %}
                </div>
                
                
                <div id="description">
                {{texte.description|safe}}
                </div>
                
                <div id="buttons">
                <a class="button" href="#">Télécharger format zine</a>
                <a class="button" id="lire">Lire en ligne</a>
                </div>    
          </div>
        {% endblock %}

{% block page_lower %}
<div id="lower-toptoe"> 
  <div id="lower-toptoe-center">
  </div>
</div>

<div id="lower-container"> 
  <div id="book-content">
  </div>
</div>

<div id="lower-toe"> 
  <div id="lower-toe-center">
  </div>
</div>
{% endblock %}