{% extends "librairie/base.html" %}

{% load humanize %}

{% block title %}La cantonade - {{auteur.prenom}} {{auteur.nom}}{% endblock %}

{% block page_title %}
<a class="h1" href="/auteur/">auteur&nbsp;</a><a class="h2" href="#">&nbsp;{{auteur.prenom}} {{auteur.nom}}</a>
{% endblock %}


{% block bodyclass %}tag{% endblock %}

{% block page_details %}
                  <div id="book-details" class="author">

            <div id="description">
            {{auteur.bio|safe}}
            </div>
<br>&nbsp;
</div>
{% endblock %}


{% block page_lower %}



<div id="lower-toptoe" class="filled"> 
  <div id="lower-toptoe-center" class="filled">
            <span class="heading">Textes</span>
  </div>
</div>

<div id="lower-container" class="filled"> 
  <div id="text-list" class="filled">
    <div class="textes">
    {% for texte in texte_list %}
    <div class="text">
    <a href='/texte/{{texte.slug}}' class="title">{{texte.titre}}</a>
            <div class="text-tags"><div class='text-date'>{{texte.date_de_publication|naturalday}}</div>{% for tag in texte.tags.all %}<a href="/tag/{{tag.slug}}" class="tag">{{tag.tag}}</a> 
            {% endfor %}
            </div>
    </div>
    {% endfor %}
    {% if not texte_list %}
    <div class="text no-texts">
        Aucun texte édité
    </div>
    {% endif %}
    </div>
  </div>
</div>

<div id="lower-toe"> 
  <div id="lower-toe-center" class="filled">
  </div>
</div>
{% endblock %}